root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 240
ij_any_spaces_around_equality_operators = true

[Makefile]
indent_style = tab

[*.py]
ij_continuation_indent_size = 4
ij_python_align_multiline_parameters = true
ij_python_align_collections_and_comprehensions = true
ij_python_align_multiline_parameters_in_calls = true
ij_python_align_multiline_imports = true

[*.{css, scss, yml, html, json}]
indent_size = 2
